@page
@model UserModel
@{
    ViewData["Title"] = "Users";
}

<style>
    .jumbotron {
        background-color: #f8f8f8;
        padding: 30px;
    }

    .jumbotron h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .jumbotron p{
        font-size: 18px;
        color: #555;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-title{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-text{
        font-size: 16px;
        color: #777;
    }

    .gap{
        margin-bottom: 20px;
    }

    body{
        background-color: #F5F5F5;
    }

    .container{
        background-color: #F0F8FF;
    }

</style>

<div class="jumbotron">
    <h3>The Book Nook</h3>
    <a asp-page="/Index" class="btn btn-secondary">Home</a>
    <hr />
</div>
<div class="container">
    <div class="row justify-content-center">
            <div class="col-6">
                <div class="row text-center">
                <h2>Meet our Amazing Community Members!</h2>
                    <p></p>
                    <p>Discover the fascinating individuals who make up the Book Nook community. Each member brings their unique perspective and love for books, creating a diverse and engaging literary environment.</p>
            </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                <div class="form-group">
                    <select asp-for="User.UserId" asp-items="Model.UserDropDown" class="form-select" placeholder="--Select Member--">
                        <option value="">--Select Member--</option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Submit" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<hr />

@if(Model.User!=null)
{
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Selected Member:</h5>
                    <p class="card-text">
                        <strong>Name:</strong>@Model.User.FirstName @Model.User.LastName
                        <br/>
                        <strong> Email:</strong> @Model.User.Email <br />
                        <strong> Biography:</strong> @Model.User.Biography <br />
                        <strong>Books: </strong>
                        <ul>
                            @if(Model.User.UserBooks != null && Model.User.UserBooks.Count > 0)
                            {
                                foreach (var book in Model.User.UserBooks)
                                {
                                    <li>@book.Book.Title - @book.Book.Author</li>
                                }
                            }
                                else
                                {
                                    <li>No Books to Display</li>
                                }
                            
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
</div>