@page
@model Final_Project.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    body{
        background-color: #F5F5F5;
    }

    .container{
        background-color: #F0F8FF;
    }
</style>

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                       firstSort = "first_desc"; 
                    }
               }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Book[0].Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            var prevDisabled = Model.PageNum <= 1? "disabled" : "";
        }
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum -1)" asp-route-CurrentSort="@Model.CurrentSort">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)" asp-route-CurrentSort="@Model.CurrentSort">Next</a>
        </li>
    </ul>
</nav>
